{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bus map</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
    <link href="{% static 'core/css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/leaflet/leaflet.css' %}">
    <style>
        .data-sidebar {
            width: 450px
        }
    </style>
  </head>

  <body>
    <div class="container-fluid">

        <div class="row">
            <div class="data-sidebar mt-2 pl-3">
                <div class="row">
                    <h2 class="display-6">Monitoramento</h2>
                    <p class="lead">Monitoramento dos ônibus e das rotas em tempo real com sistema de alerta.</p>
                </div>
                <p class="lead"><strong>Rotas</strong></p>
                <select class="form-select" id="list-routes"><option value="0" selected>Todas</option></select>

                <p class="lead mt-4"><strong>Últimos eventos</strong></p>
                <div class="list-group list-group-flush" id="list-events">
                </div>
            </div>
            <div class="col">

                <div aria-live="polite" aria-atomic="true" class="position-relative">
                    <div class="toast-container position-absolute top-0 start-50 translate-middle-x p-3" id="list-toasts"></div>
                </div>

                <div id="map"></div>
            </div>
        </div>

    </div>

    <script src="{% static 'core/js/leaflet.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
    <script>
        var mapTileLayer = '{{ OSM_TILE_LAYER }}'
        var mapAttribution = '{{ OSM_ATTRIBUTION }}'

        /* Credit: Maps Icons Collection https://mapicons.mapsmarker.com */
        var iconUrl = `{% static 'core/image/marker-icon.png' %}`
    </script>
    <script src="{% static 'core/js/map.js' %}"></script>
  </body>
</html>